@page
@model IndexModel
@{
}

<form asp-page-handler="GeneraLlave" method="post">
    <label>transId:</label><br />
    <input type="text" name="txtTransIdKeyGen" id="txtTransIdKeyGen" value="" /><br />

    <label>Stan:</label><br />
    <input type="text" name="txtStanKeyGen" id="txtStanKeyGen" value="9001" /><br />

    <label>refNum:</label><br />
    <input type="text" name="txtRefNumKeyGen" id="txtRefNumKeyGen" value="90010" /><br />
    <button style="border-color:black;border-width:1px;" class="btn btn-default">Inicializar Llaves</button>
</form>
