@page
@model SearchPanModel
@{

   
}

<form asp-page-handler="BuscarPan" method="post">
    <input type="text" id="txtpan" name="txtpan" value="" /><br />
    <label>Credito/Debito:</label><br />
    <input type="radio" for="txtMonto" name="txtMonto" value="credito" />Credito<br />
    <input type="radio" for="txtMonto" name="txtMonto" value="debito" />Debito<br />
    <button style="border-color:black;border-width:1px;" class="btn btn-default">Buscar Tarjeta</button>
</form>